<div id="todo-app" class="border border-info p-3">
  <div v-for="item in items">
    <todo_item_component v-bind:item="item"></todo_item_component>
  </div>
  <div class="row" v-if="items.length">&nbsp;</div>
  <form v-on:submit.prevent="create()">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8">
        <input size="45" type="text" placeholder="Add a todo item..." ref="new_text"/>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <input type="submit" id="btn-create" value="Add"/>
      </div>
    </div>
  </form>
</div>
