{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="text-center"><span class="badge badge-secondary">ToDo API Playground</span></h1>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row"> &nbsp; </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      {% include 'todo.html' %}
    </div>
    <div class="col-md-3"></div>
  </div>
  <div class="row"> &nbsp; </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <ul>
        <li><p class="lead">There is only one API here, which provides full RESTful service on ToDo Items. Purposed to
          help everyone to test their code to integrate with a RESTful API.</p></li>
        <li><p class="lead">ToDo items are grouped by sessions, you can override the session id by specifying SESSION-ID
          value in your request header.</p></li>
        <li><p class="lead">There is a maximum rows limit in ToDo table globally to protect the service from being
          overrun, once maximum rows has reached, it will start evicting oldest items.</p></li>
        <li><p class="lead">Any problems, email <span class="text-info">james@lin.net.nz</span></p></li>
      </ul>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">
        <a href="/api/todos/" class="btn btn-primary">Go To API</a>
        <a href="https://github.com/variable/todobackend" class="btn btn-success">Github</a>
      </h2>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script src="{%  static 'js/todo/todo.js' %}"></script>
{% endblock %}
